/* CUERPO DE TODA LA PAGINA WEB */
body {
    font-family: maiandra;
    background-color: #f4f6f8;
    margin: 0;
    padding: 0;
}
 /* ENCABEZADO DE LA PAGINA WEB */
header {
    background-color: #DB2E76;
    color: white;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

/* MENÚ DE NAVEGACIÓN  */
nav {
    margin-top: 10px;

}

nav ul {
    list-style: none;       /* Quita viñetas */
    padding: 0;
    margin: 0;
    display: flex;          /* Menú horizontal */
    justify-content: center;
    gap: 200px;              /* Espacio entre menu de opciones */
}

nav ul li a {
    text-decoration: none;  /* Quita subrayado */
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #a61f55; /* Efecto al pasar el mouse */
}
/* Define el color de cada seccion */
section {
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
/* Define los titulos o subtitulos de la pagina */
h2 {
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}
/* Define cada parrado establecido dentro de la pagina web/interlineado y alineacion de texto */
p {
    line-height: 1.6;
    text-align: justify;
}

img {
    display: block;
    margin: 60px auto;
    width: 700px;
    border-radius: 20px;
}

.img-cuadro {
  width: 500px;
  height: 500px;
  object-fit: cover;
  float: left;
  margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

th, td {
    border: 1px solid #0D11DB;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #F54927;
    color: white;
}


footer {
    background-color: #4DC9EB;
    color: black;
    text-align: center;
    padding: 20px;
}